<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start" id=atras>
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<div id=divsuperior>
  <div id=container>
    <strong>
      Perfil del Cliente
    </strong>
  </div>
</div>
  
<div id=icono>
    <ion-icon name="person-outline" id="icono1"></ion-icon>
</div>

<div id=formulario>
  <div class=input>
    <p>Nombres:</p>
      <ion-input type="text" class="datos"></ion-input>
  </div>

  <div class=input>
    <p>Apellidos:</p>
      <ion-input type="text" class="datos"></ion-input>
  </div>

  <div class=input>
    <p>Correo:</p>
      <ion-input type="text" class="datos"></ion-input>
  </div>

  <div class=input>
    <p>DNI:</p>
      <ion-input type="text" class="datos"></ion-input>
  </div>

  <div class=input>
    <p>Direccion:</p>
      <ion-input type="text" class="datos"></ion-input>
  </div>
</div>

<div id=botones>
  <div class=boton>
    <ion-button type=button color="danger" class="boton1">EDITAR DATOS</ion-button>
  </div>

  <div class=boton>
    <ion-button type=button color="danger" class="boton1">CAMBIAR TELEFONO</ion-button>
  </div>
</div>

</ion-content>
