#container {
    position: absolute;
    width: 80%;
    left: 10%;
    margin-top: 4%;
  }
  
#container strong {
    font-size: 25px;
    line-height: 26px;
  }
#container a {
    text-decoration: none;
  }
#atras{
    color: #DE4120;
}
.boton{
    color: black;
}
#icono1{
    position: absolute;
    margin-left: 40%;
    margin-top: 17%;
    align-items: center;
    border: solid;
    border-color: #DE4120;
    border-radius: 10px;
    font-size: 80px;
    color: #DE4120;
}
#formulario{
    margin-top: 50%;
    margin-left: 10%;
    margin-right: 10%;
}
.datos{
    border: solid;
    border-radius: 10px;
    border-color: #E5E5E5;
}
a{
    text-decoration: none;
    color: #DE4120;
}
p{
    font-size: 15px;
    color: rgb(104, 92, 104);
}
#botones{
    margin-top: 4%;
    margin-left: 7.5%;
    height: fit-content;
    width: 90%;
    height: 15%;
    flex-wrap: nowrap;
}
.boton{
    display: inline;
    margin-left: 1%;
}
.boton1{
    width: 47%;
    height: 55%;
    font-size: 9px;
}