

<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
   
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="totallogin">


    <div id="partinicio">

      <h1>Iniciar sesión</h1>
    
      <ion-item id="textnumber">
        <ion-label position="floating">Número telefónico</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
        <ion-button color="danger" routerLink="/tabs/home">
          Acceder
        </ion-button>
  </div>
  
  
  
      <div id="partregis">
  
        <ion-label>¿No estás registrado?</ion-label>
        <a href="/reg1"> Regístrate aquí.</a>
      
      </div>

  </div>

      

</ion-content>
