.textnumber {
   width: auto;
}
#totallogin{
   padding: 5%;
    width: 100%;
    height: 100%;
}
#partinicio{
   margin: 10%;
   justify-content: center;
   text-align: center;
   width: 80%;
}
#partregis{
  text-align: center;
}