<ion-tabs>
  
  <ion-tab-bar slot="bottom" mode="ios">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="login">
      <ion-icon name="list-circle"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="perfil">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="login">
      <ion-icon name="information-circle"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>