<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>

    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item>
  <ion-label position="stacked">
    Nombre
  </ion-label>
  <ion-input type="text"></ion-input>
</ion-item>

  <ion-item> 
    <ion-label position="stacked">
    Apellidos
  </ion-label>
  <ion-input type="text"></ion-input>
</ion-item>
 
  <ion-item>
    <ion-label position="stacked">
      Correo
    </ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
 
<ion-item>
  <ion-label position="stacked">
    DNI
  </ion-label>
  <ion-input type="number"></ion-input>

</ion-item>
  
<ion-button expand="block" color="danger" routerLink="/reg2">
  Siguiente
</ion-button>

</ion-content>
