<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/reg1"></ion-back-button>
    </ion-buttons>

    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>Añade tu Dirección</h1>
  <ion-item>
    <ion-input type="text"></ion-input>
  </ion-item>
  

  <ion-button expand="block" color="danger" routerLink="/login">
    Registrar
  </ion-button>

</ion-content>
