#container {
  position: absolute;
  left: 10%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 20px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
#icon{
  margin: auto;
}
#btncar{
  position: absolute;
  right: 10%;
}
#iconcart{
  color: #DE4120;
  --ionicon-stroke-width: 16px;
}
#searchbar{
  position: relative;
  margin-top: 15%;
  text-align: center;
}
#sbar{
  --border-radius: 20px;
}

#listaprod{
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 5%;
}

.produc{
  margin: auto;
  display: flex;
  align-items: center;
  margin-bottom: 5%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: 150px;
  border-radius: 10px;
  border: solid;
  border-color: #E5E5E5;
  text-align: center;
  width: 120px
}

  .cardtotal{
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    padding: 5%;
    display: flex;
  }
  .iconmenu{
    margin: auto;
    font-size: 32px;
    color: #989898;
  }
  #menubar{
    height: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3%;
    border-radius: 5px;
    border: solid;
    border-color:#e1e1e1 ;
  }
  #homered{
    color: #DE4120;
  }
  a{
    text-decoration: none;
    color: black;
  }