<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
<div id="divsuperior">
  <div id="container">
    
    <strong>
      <ion-icon name="person-outline" id="icon"></ion-icon>
      Hola User
    </strong>
    <p>Av. Lima 414</p>

  </div>


 <div id="btncar">
  <ion-button color="light" routerLink="tabs/home">
    <ion-icon name="cart" id="iconcart"></ion-icon>
  </ion-button>
 </div>
</div>
 
    
  
<div id="searchbar">
  <ion-searchbar id="sbar" placeholder="¿Qué producto necesitas?" ></ion-searchbar>
</div>
    
<div id="listaprod">
  <div class="produc">
    <a href="tabs/abarrotes">Abarrotes y Víveres</a>
  </div>

  <div class="produc">
    <a href="tabs/verduras">Frutas y Verduras</a>
  </div>

  <div class="produc">
    <a href="tabs/bebidas">Aguas y Bebidas</a>
  </div>

  <div class="produc">
    <a href="tabs/golosinas">Snacks y golosinas</a>
  </div>

  <div class="produc">
    <a href="tabs/limpieza">Aseo y Limpieza</a>
  </div>
  <div class="produc">
    <a href="tabs/mascotas">Alimentos para mascotas</a>
  </div>
</div>

<!-- <div id="menubar">
<ion-icon name="home" class="iconmenu" routerLink="/home" id="homered"></ion-icon>
<ion-icon name="list-circle" class="iconmenu" routerLink="/"></ion-icon>
<ion-icon name="person-circle" class="iconmenu" routerLink="/"></ion-icon>
<ion-icon name="information-circle" class="iconmenu" routerLink="/"></ion-icon>
</div> -->

</ion-content>
