<ion-header>
  <ion-toolbar class="ion-no-border">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="vista">

    <div id="divestatico">

      <div id="abasup">
        <div id="divaba">
          <h1>Bebidas</h1>
        </div>
        
        <div id="carticon">
          <ion-icon name="cart" id="idcar" routerLink="/tabs/home"></ion-icon>
        </div>
      </div>
    
      <div id="searchbar">
        <ion-searchbar id="sbar" placeholder="¿Qué producto necesitas?" ></ion-searchbar>
      </div>
    
    
    </div>
      
    
    
    <div id="listaprod">
      <div class="produc">
        <img src="https://plazavea.vteximg.com.br/arquivos/ids/204511-450-450/433778.jpg?v=636773180862900000">
        <ion-icon name="add-circle" class="add-circle"></ion-icon><br>
        <a class="priceproduc">S/. 4.50</a><br>
        <a class="nombreproduc">Arroz costeño</a><br>
        <a class="priceproduc">Bolsa 250g</a>
      </div>
    
      <div class="produc">
        <img src="https://plazavea.vteximg.com.br/arquivos/ids/204511-450-450/433778.jpg?v=636773180862900000">
        <ion-icon name="add-circle" class="add-circle"></ion-icon><br>
        <a class="priceproduc">S/. 4.50</a><br>
        <a class="nombreproduc">Arroz costeño</a><br>
        <a class="priceproduc">Bolsa 250g</a>
      </div>
    
      <div class="produc">
        <img src="https://plazavea.vteximg.com.br/arquivos/ids/204511-450-450/433778.jpg?v=636773180862900000">
        <ion-icon name="add-circle" class="add-circle"></ion-icon><br>
        <a class="priceproduc">S/. 4.50</a><br>
        <a class="nombreproduc">Arroz costeño</a><br>
        <a class="priceproduc">Bolsa 250g</a>
      </div>
      
      <div class="produc">
        <img src="https://plazavea.vteximg.com.br/arquivos/ids/204511-450-450/433778.jpg?v=636773180862900000">
        <ion-icon name="add-circle" class="add-circle"></ion-icon><br>
        <a class="priceproduc">S/. 4.50</a><br>
        <a class="nombreproduc">Arroz costeño</a><br>
        <a class="priceproduc">Bolsa 250g</a>
      </div>
    
      <div class="produc">
        <img src="https://plazavea.vteximg.com.br/arquivos/ids/204511-450-450/433778.jpg?v=636773180862900000">
        <ion-icon name="add-circle" class="add-circle"></ion-icon><br>
        <a class="priceproduc">S/. 4.50</a><br>
        <a class="nombreproduc">Arroz costeño</a><br>
        <a class="priceproduc">Bolsa 250g</a>
      </div>
    
      <div class="produc">
        <img src="https://plazavea.vteximg.com.br/arquivos/ids/204511-450-450/433778.jpg?v=636773180862900000">
        <ion-icon name="add-circle" class="add-circle"></ion-icon><br>
        <a class="priceproduc">S/. 4.50</a><br>
        <a class="nombreproduc">Arroz costeño</a><br>
        <a class="priceproduc">Bolsa 250g</a>
      </div>
      <div class="produc">
        <img src="https://plazavea.vteximg.com.br/arquivos/ids/204511-450-450/433778.jpg?v=636773180862900000">
        <ion-icon name="add-circle" class="add-circle"></ion-icon><br>
        <a class="priceproduc">S/. 4.50</a><br>
        <a class="nombreproduc">Arroz costeño</a><br>
        <a class="priceproduc">Bolsa 250g</a>
      </div>
      <div class="produc">
        <img src="https://plazavea.vteximg.com.br/arquivos/ids/204511-450-450/433778.jpg?v=636773180862900000">
        <ion-icon name="add-circle" class="add-circle"></ion-icon><br>
        <a class="priceproduc">S/. 4.50</a><br>
        <a class="nombreproduc">Arroz costeño</a><br>
        <a class="priceproduc">Bolsa 250g</a>
      </div>
      <div class="produc">
        <img src="https://plazavea.vteximg.com.br/arquivos/ids/204511-450-450/433778.jpg?v=636773180862900000">
        <ion-icon name="add-circle" class="add-circle"></ion-icon><br>
        <a class="priceproduc">S/. 4.50</a><br>
        <a class="nombreproduc">Arroz costeño</a><br>
        <a class="priceproduc">Bolsa 250g</a>
      </div>
      <div class="produc">
        <img src="https://plazavea.vteximg.com.br/arquivos/ids/204511-450-450/433778.jpg?v=636773180862900000">
        <ion-icon name="add-circle" class="add-circle"></ion-icon><br>
        <a class="priceproduc">S/. 4.50</a><br>
        <a class="nombreproduc">Arroz costeño</a><br>
        <a class="priceproduc">Bolsa 250g</a>
      </div>
    </div>


  </div>
</ion-content>
