.iconmenu{
    margin: auto;
    font-size: 32px;
    color: #989898;
  }
  #menubar{
    border-radius: 5px;
    border: solid;
    border-color: #e1e1e1;
  }

  #abasup{
    margin: 5%;
    display: flex;
  }

  #divaba h1{
    margin: auto;
  }
  #carticon{
    margin-left: auto;
  }
  #idcar{
    margin: auto;
    font-size: 32px;
    color: #DE4120;
  }

  #searchbar{
    position: relative;
    text-align: center;
  }
  #sbar{
    --border-radius: 20px;
  }


  #listaprod{
    margin-top: 130px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 5%;
    position: absolute;
  }
  .produc{
    margin-bottom: 5%;
    height: fit-content;
    border-radius: 10px;
    border: solid;
    border-color: #E5E5E5;
    text-align: center;
    width: 30%;
  }
  .add-circle{
      color: #DE4120;
  }
  .nombreproduc{
    color: black;
}
  .priceproduc{
    color: #989898;
}
  #divestatico{
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 20;
}
  
  ion-tab-bar{
    --border:solid;
    --color:#989898;
    --border-radius:5px;
  }